body {
    margin: 0; // background: #222;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
    background: url('/img/scuff.jpg') repeat;
}

a {
    color: #00B7FF;
}

#container {
}
